<div class="container-fould about-visual">
    <%= image_tag "about.jpg", class: "d-block w-100", alt: "....." %>
      <div class="over-about" id="makeImg">
        <div class="box mx-auto col-10 col-sm-10 col-lg-8 col-xl-6">
          <h1 class="about-text">About</h1>

          <p class="about-text">差入れや手土産に悩んでしまうことはありませんか？</p>
          <p class="about-text">何を選べばいいかわからない、</p>
          <p class="about-text">いつもとは違ったものを用意したい、</p>
          <p class="about-text">シーンや年齢など相手にあわせて探したい、</p>
          <p class="about-text">そんなときにご利用いただけます。</p>
          <p class="about-text">ぜひ、皆さんのおすすめのアイテムを教えてください。</p>

        </div>
      </div>
</div>