<div class="container-fould">
    <%= image_tag "top.jpg", class: "d-block w-100", alt: "....." %>
    <div class="over-top-message" id="makeImg">
        <div><%= flash[:notice] %></div><br>
    </div>
    <div class="over-top" id="makeImg">
        <div class="top-name">
            <h1>Welcome to</h1>
        <span class="title-name">さしい<span class="green">れ</span>すきゅー!!!</span>
        </div>
    </div>
</div>


