@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-bottom: 56px;
}

header {
  background: #89c997;
}

// Top画面のスタイル指定
.over-top {
  position   : absolute;                   /* 親要素からの絶対位置 */
  box-sizing : border-box;
  white-space: nowrap;                     /* 折返しなし */
  display    : inline-block;               /* 文字囲みのBOXにする */
  color      : rgba(0, 0, 0, 0.80);    /* 文字色（透明度） */
  top        : 40%;                        /* 親要素からの上位置 */
  left       : 65%;                        /* 親要素からの左位置 */
  transform  : translate(-65%, -24%);      /* 文字BOXの位置ずらし */
  font-size  : 30pt;                       /* 文字サイズ */
  font-weight: bold;                       /* 太字 */
  line-height: 1em;                        /* 1行の高さ */
}

.over-top-message {
  font-size: 5pt;
}

h1 {
  color :#828282;
}

.top-name {
  font-size: 60px;
}

.title-name {
  font-family: 'Major Mono Display', monospace;
  color: #828282;
}

.green {
  color: #89c997;
}

.link-color {
  color: #89c997;
}

// アバウトページのスタイル指定
.over-about {
  position   : absolute;                   /* 親要素からの絶対位置 */
  box-sizing : border-box;
  white-space: nowrap;                     /* 折返しなし */
  display    : inline-block;               /* 文字囲みのBOXにする */
  color      : rgba(0, 0, 0, 0.80);    /* 文字色（透明度） */
  top        : 30%;                        /* 親要素からの上位置 */
  left       : 55%;                        /* 親要素からの左位置 */
  transform  : translate(-65%, -24%);      /* 文字BOXの位置ずらし */
  font-size  : 15pt;                       /* 文字サイズ */
  font-weight: bold;                       /* 太字 */
  line-height: 1em;                        /* 1行の高さ */
}

.about-visual {
  background-color: #8d6449;
  opacity : 0.4;
}

.about-text {
  color: #000000;
}

.item_post {
  width          : 100%;             // 100%幅
  border-collapse: collapse;         // 境界線結合
  border-spacing : 50;                // 罫線間余白
  font-size      : 9pt;              // 文字サイズ
}
// ヘッダーのスタイル指定
.item_post th {
  text-align    : left;              // 文字位置
  padding       : 16px 0 16px 16px;  // 余白
  font-size     : 16px;
}
// 明細のスタイル指定
.item_post td {
  text-align    : left;              // 文字位置
  padding       : 10px 16px;        // 余白
  font-size     : 15px     ;
}

// カテゴリーロゴのスタイル指定
.category_logo {
  position: relative;
  padding: 0.5em;
  background: #89c997;
  color: white;
}

.category_logo::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

// タグリストのスタイル指定
.tag_list {
  font-size : 12px;
}

.item-label {
  font-size : 14px;
}

// 商品詳細画面のスタイル指定
.comment-box {
  overflow-x    : hidden;
  overflow-y    : scroll;
  padding       : 25px;
  height        : 500px;
  margin        : auto;                 // サンプル用 中央寄せ
  box-sizing    : border-box;           // 罫線も含む長さ
  width         : 95%;                 // BOXの幅

  background    : #ffffff;              // BOXの背景色
  border        : 5px solid #89c997;   // 枠線の指定
  border-radius : 13px;                 // 角丸の指定
}

.item-box {
  width          : 100%;             // 100%幅
  max-width      : 500px;                // BOXの最大幅
  height         : 400px;                 // サンプルBOXの幅
  border-collapse: collapse;         // 境界線結合
  border-spacing : 0;                // 罫線間余白
  font-size      : 12pt;              // 文字サイズ
}
// ヘッダーのスタイル指定
.item-box th {
  text-align    : left;              // 文字位置
  font-weight   : bold;              // 太文字
  font-size     : 17px;
  padding       : 6px 0px;           // 余白
}

// 明細のスタイル指定
.item-box td {
  text-align    : left;              // 文字位置
  padding       : 6px 0px;           // 余白
  font-size     : 17px;
}

.like-link {
   color: #89c997;
}


footer {
  background: #89c997;
}
