@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-bottom: 56px;
}

header {
  background: #89c997;
}

// Top画面のスタイル指定
.over-top {
  position   : absolute;                   /* 親要素からの絶対位置 */
  box-sizing : border-box;
  white-space: nowrap;                     /* 折返しなし */
  display    : inline-block;               /* 文字囲みのBOXにする */
  color      : rgba(0, 0, 0, 0.80);    /* 文字色（透明度） */
  top        : 40%;                        /* 親要素からの上位置 */
  left       : 65%;                        /* 親要素からの左位置 */
  transform  : translate(-65%, -24%);      /* 文字BOXの位置ずらし */
  font-size  : 30pt;                       /* 文字サイズ */
  font-weight: bold;                       /* 太字 */
  line-height: 1em;                        /* 1行の高さ */
}

.over-top-message {
  font-size: 5pt;
}

h1 {
  color :#828282;
}

.top-name {
  font-size: 60px;
}

.title-name {
  font-family: 'Major Mono Display', monospace;
  color: #828282;
}

.green {
  color: #89c997;
}

// アバウトページのスタイル指定
.about-visual {
  background-color: #8d6449;
  opacity : 0.5;
}

.item_post {
  width          : 100%;             // 100%幅
  border-collapse: collapse;         // 境界線結合
  border-spacing : 50;                // 罫線間余白
  font-size      : 9pt;              // 文字サイズ
}
// ヘッダーのスタイル指定
.item_post th {
  text-align    : left;              // 文字位置
  padding       : 16px 0 16px 16px;  // 余白
  font-size     : 16px;
}
// 明細のスタイル指定
.item_post td {
  text-align    : left;              // 文字位置
  padding       : 10px 16px;        // 余白
  font-size     : 15px     ;
}

// カテゴリーロゴのスタイル指定
.category_logo {
  position: relative;
  padding: 0.5em;
  background: #89c997;
  color: white;
}

.category_logo::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

// タグリストのスタイル指定
.tag_list {
  font-size : 12px;
}

.item-label {
  font-size : 14px;
}


footer {
  background: #89c997;
}
