<div class="container">
  <div class="row">
    <div class="m-4">
      <h4>カテゴリー編集</h4>
    </div>
  </div>

  <%= form_with model: @category, url:  admin_category_path,method: :patch do |f| %>
    <div class="row">
      <div class="col-lg-12 mt-3">

        <table>
          <td><%= f.label :"カテゴリー名", class: "mr-3" %></td>
          <td><%= f.text_field :name, class: "mr-5" %></td>
          <td><%= f.submit "変更を保存", class: "btn btn-outline-success" %></td>
        </table>

      </div>
    </div>
  <% end %>
</div>