<h4>検索結果</h4>

<%= render 'public/items/search' %>

<table>
  <% @items.each do |item| %>
    <tr>
      <td><%= image_tag item.get_image, size:"200x150", class: "card-img-top", style: "object-fit: cover;" %></td>
      <td><%= link_to item.goods_name, item_path(item.id), class: "text-dark" %></td>
      <td><%= item.price.to_s(:delimited) %>円</td>
    </tr>
  <% end %>
</table>